/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.navContainer{
    display: flex;
    /* border: 2px solid green; */
    width: 80vw;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px 20px;
    background-color: white;
}

.topHeading {
    color: forestgreen;
    margin: 20px 0;
    font-size: larger;
    font-weight: 600;

}
.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* Navcard styling */
.navCardContainer{
    display: flex;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px dashed brown; */
}
.imgContainer > img {
    width: 70px;
}
.textContainer > h1{
    font-weight: 400;
    color: black;
}
.textContainer > p{
    font-weight: 400;
    color: grey;
    font-size: large;
}